{{#each  dependants}}
<div class="input-field col s12 m6 l6">
    <input id="dependant-instruction-expenses-{{number}}" name="dependant-instruction-expenses-{{number}}"  type="text" class=" validate" currency required data-parsley-error-message="Por favor, preencha os campos com o valor das despesas anuais de instrução dos dependentes" />
    <label >Despesa anual com instrução do {{number}}º dependente (R$)</label>
</div>
{{/each }}
