// Mixins
@import "_color";
@import "_variables";

/* ////////////////////////////////////////
 // Buttons adjustments for small devices
 ////////////////////////////////////////*/

@media #{$small-and-down} {
    .btn {
        margin-top: 10px;
    }
}


/* ///////////////
 // Call to Action
 ////////////////*/

#call-to-action {
    max-height: 1000px;
    height: 100%;
}

.animation--fadein{
   transition: opacity 1s;
   opacity: 0.8;
}


.animation--fadein:hover{
   transition: opacity 1s;
   opacity: 1;
}