@model IEnumerable<meetup_fullstack_core.Model.Feedback>
<div class="row">
    @foreach (var feedback in Model)
    {
    <div class="col s6 m7 l3">
        <div class="card">
            <div class="card-image">
                <img src="@feedback.Imagem">
                <span class="card-title">@feedback.Nome</span>
            </div>
            <div class="card-content">
                <p>@feedback.Texto</p>
            </div>
        </div>
    </div>
    }
</div>
