<div class="col s6 m7 l3">
	<div class="card">
		<div class="card-image">
			<img src="{{imagem}}">
			<span class="card-title">{{nome}}</span>
		</div>
		<div class="card-content">
			<p>{{texto}}</p>
		</div>
	</div>
</div>
